<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzap</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9c5528b453.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <!-- VUE LINK -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- APP -->
        <div id="app">
            <div class="container">
                <!-- SIDEBAR -->
                <section class="sidebar">
                    <!-- Upper part of the sidebar -->
                    <div class="personal">
                        <img class="avatar" src="./img/avatar_io.jpg" alt="io">
                        <ul class="personal__nav">
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>    
                    </div>
                    <div class="desktop-notification">
                        <div><i class="fa-solid fa-bell-slash"></i></div>
                        <div>
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="">Attiva notifiche Desktop</a>
                        </div>
                    </div>
                    <div class="search-bar">
                        <input v-model="inputValue" type="text" name="search" placeholder= "Cerca o inizia una nuova chat">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!-- Contacts list -->
                    <div class="contacts">
                        <ul v-for="(contact, i) in filteredContacts" class="contacts__list">
                            <li @click="currentChat = i" :class="i === currentChat ? 'selected_chat' : ''" class="card contacts__card">
                                <img class="avatar" :src="contact.avatar" :alt="contact.name">
                                <div class="contacts__card__body">
                                    <div  class="contact-preview">
                                        <h4>{{contact.name}}</h4>
                                        <div class="last-message">{{}}</div>
                                    </div>
                                    <div class="time">16:11</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- CHAT -->
                <section class="chat">
                    <div class="chat__top-bar">
                        <div class="card">
                            <img class="avatar" :src="currentContact.avatar" :alt="currentContact.name">
                            <div class="card__body">
                                <h4>{{currentContact.name}}</h4>
                                <div class="last__access">Ultimo accesso oggi alle 16:16</div>
                            </div>
                        </div>
                        <ul class="chat__top-bar__icons">
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                    <div class="chat__main">
                        <div  class="chat__main__container">
                            <div v-for="(message, index) in currentContact.messages" class="message" :class="message.status" >
                                <div  class="message__text">{{message.message}}</div>
                                <div class="message__menu">
                                    <div class="menu-icon"><i class="fa-solid fa-chevron-down"></i></div>
                                    <ul class="menu__content">
                                        <li>Copia</li>
                                        <li>Inoltra</li>
                                        <li>Rispondi</li>
                                        <li @click="deleteMessage(currentContact.messages ,index)">Elimina</li>
                                    </ul>
                                </div>
                                <div class="message__time">{{message.date.slice(11,16)}}</div>
                            </div>
                       </div>
                    </div>
                    <div class="chat__bottombar">
                        <div><i class="fa-regular fa-face-smile"></i></div>
                        <input @keyup.enter="sendMessage(currentChat)" v-model.trim="newMessage" type="text" placeholder="Scrivi un messaggio">
                        <div><i class="fa-solid fa-microphone"></i></div>
                    </div>
                </section>
            </div>
        </div>
        <!-- LINK JS -->
        <script src="./js/app.js"></script>
    </body>
</html>